@import '~antd/dist/antd.css';

.App {
  text-align: center;
  max-width: 100vw;
  background-color: 'white';
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.noScroll::-webkit-scrollbar {
  display: none;
}

.sideButtons {
  background-color: white;
  padding-top: 10px;
  padding-bottom: 10px;
  padding-left: 20px;
  border-top-left-radius: 20px;
  border-bottom-left-radius: 20px;
  font-weight: bold;
}

.sideButtonsNormal {
  padding-top: 10px;
  padding-bottom: 10px;
  padding-left: 20px;
  color: white;
}

.selectedToggle {
  background-color: white;
  color: white;
  border-radius: 30px;
  padding: 5px;
}

.unselectedToggle {
  background-color: #528C6F;
  border-radius: 30px;
  padding: 5px;
}

.selectedToggleText {
  color: #528C6F;
  font-size: 18px;
  font-weight: bold;
}

.unselectedToggleText {
  color: white;
  font-size: 18px;
  font-weight: bold;
}

.ant-input:placeholder-shown, .ant-input-lg, .ant-input:focus, .ant-input:hover{
  background-color: 'rgba(82, 139, 110, 0.32)' !important;
  color: 'rgba(82, 139, 110, 0.32)';
}

.input.ant-input {
  background-color: 'rgba(82, 139, 110, 0.32)' !important;
}

.ant-input-selection-placeholder {
  color: #f0f0f0;
}
.ant-form-item {
  background-color: 'rgba(82, 139, 110, 0.32)' !important;
}

input[type='text'], input[type='password'], input[type='number'], textarea {
  -webkit-appearance: red;
}

#inputID::placeholder {
  color: white;
  padding-left: 12px;
  opacity: 1;
}

.diagonalcontainer {
  width: 100vw;
  height: 100vh;
}

.diagonalcontainer > * {
  height: 100%;
  background: white;
}

.diagonalcontainer :last-child {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  background: #528B6E;
  -webkit-clip-path: polygon(43% 0, 100% 0%, 100% 100%, 70% 100%);
  clip-path: polygon(43% 0, 100% 0%, 100% 100%, 70% 100%);
}